.timeNofication {
    font-size: 10px;
    margin-top: 2px;
    font-style: italic;
}

.DropdownNotification .NotificationList img {
    padding: 0;
}

.NotificationList li {
    display: flex;
    align-items: flex-start;
    gap: 12px;
}

.NotificationList li .notificationBel {
    font-size: 13px;
    color: var(--black-1);
}

.NotificationList li .notificationBel span {
    color: var(--blue-5);
}

.footerViewAll {
    border-top: 1px solid #F5F5F5;
    margin-top: 12px;
    padding-top: 12px;
    text-align: center;
}

.footerViewAll span {
    font-weight: 400;
    font-size: 13px;
    line-height: 120%;
    color: var(--red-6);
    cursor: pointer;
}