.timeNofication {
    font-size: 10px;
    margin-top: 2px;
    font-style: italic;
}

.DropdownNotification .NotificationList img {
    padding: 0;
    cursor: pointer;
}

.NotificationList {
    overflow: auto;
    height: calc(100vh - 302px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.NotificationList li {
    display: flex;
    align-items: flex-start;
    gap: 12px;
}

.NotificationList li .notificationBel {
    font-size: 13px;
    color: var(--black1);
    width: calc(100% - 44px);
}

.NotificationList li .notificationBel span {
    color: var(--blue6);
    font-weight: 500;
}

.footerViewAll {
    border-top: 1px solid #F5F5F5;
    margin-top: 12px;
    padding-top: 12px;
    text-align: center;
    padding-bottom: 12px;
}

.footerViewAll span {
    font-weight: 400;
    font-size: 13px;
    line-height: 120%;
    color: var(--red1);
    cursor: pointer;
}