.tabActive{
    display: none;
}
.tabActive.active{
    display: block;
}

.heading-2 {
    font-size: 18px;
    line-height: 120%;
    color: var(--black-1);
    font-weight: 700;
}

.heading-3 {
   font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    color: var(--black-1);
}