.searchLabel {
    max-width: 284px;
    width: 100%;
}

.SearchBox {
    gap: 10px;
    border: 1px solid red;
    border-radius: 6px;
    padding: 0px 12px;
    display: flex;
    align-items: center;
}

.SearchBox input {
    border: none;
    max-width: 100%;
    width: 100%;
    transition: 0.4s ease-in-out;
    padding-right: 20px;
    border-right: 1px solid var(--grey2);
    font-weight: 300;
    font-size: 14px;
    line-height: 120%;
    color: var(--black5);
    background: transparent;
    padding: 10px 0;
}

.SearchBox:hover svg {
    transform: translateX(-5px);
}

.SearchBox svg {
    cursor: pointer;
    transition: 0.4s;
}

.SearchBox input:focus {
    outline: none;
    transition: 0.4s ease-in-out;
}