.MainHeaderWrapper {
    flex-wrap: wrap;
    padding: 0px 30px;
    width: 100%;
    background: #fff;
    height: 62px;
    display: flex;
    align-items: center;
    box-shadow: 20px 0 40px rgba(0, 0, 0, .04);
    position: relative;
    z-index: 1;
}

.MainFooterwrapper {
    flex-wrap: wrap;
    padding: 20px 30px;
    width: 100%;
    background: #fff;
    height: 62px;
    display: flex;
    align-items: center;
    box-shadow: 20px 0 40px rgba(0, 0, 0, .04);
    position: relative;
    z-index: 1;
}

/* sidebar */
.logomain img {
    width: 150px;
    height: 100%;
}

.sidebarlist {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    overflow: auto;
    height: calc(100vh - 146px);
}

.sidebarlist li {
    width: 100%;
    list-style: none;
}

.sidebarlist li {
    width: 100%;
    color: #737373;
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
    cursor: pointer;
    border-radius: 4px;
    padding: 11px 16px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.sidebarlist li.active {
    background: #0E77D3;
    color: #fff;
}

.sidebarlist li svg {
    transition: 0.4s;
}

.sidebarlist li.active svg {
    transform: translate(4px);
}

.sidebarlist li.active svg path {
    stroke: #fff;
}

.textmain {
    color: #171717;
    font-size: 20px;
    font-weight: 200;
    line-height: 120%;
}

.textmain span {
    font-weight: 700;
}

.Hproimg img {
    width: 44px;
    height: 44px;
    object-fit: cover;
    object-position: top;
    border: 2px solid var(--grey3);
    transition: 0.4s;
    border-radius: 50%;
}

.Hproimg img:hover {
    border: 2px solid var(--blue6);
}

.Hprofilemain {
    gap: 20px;
}

.Hprofilemain .Hproimg {
    cursor: pointer;
}

.Hprofilemain svg {
    cursor: pointer;
}

.crossIcon {
    position: absolute;
    top: 20px;
    right: 20px;
}

.menutext12 {
    color: #737373;
    font-size: 12px;
    font-weight: 500;
    line-height: 120%;
    text-transform: uppercase;
}

.Hprofilemain .Hproimg {
    position: relative;
}

.Hprofilemain .Hproimg .DropdownNotification {
    position: absolute;
    right: -5px;
    top: 0px;
    width: 350px;
    cursor: default;
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
}

.Hprofilemain .Hproimg .DropdownNotification.active {
    transform: translateY(20px);
    opacity: 1;
    visibility: visible;
}

/* icon bell */

.NotiwrapIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.NotiwrapIcon .bell-regular {
    position: absolute;
    animation: keyframes-fill .5s;
}

.NotiwrapIcon .bell-solid {
    position: absolute;
    display: none;
    animation: keyframes-fill .5s;
}

/* ------ On check event ------ */
.NotiwrapIcon input:checked~.bell-regular {
    display: none;
}

.NotiwrapIcon input:checked~.bell-solid {
    display: block;
}

/* ------ Hide the default checkbox ------ */
.NotiwrapIcon input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.NotiwrapIcon svg path {
    fill: #545454;
}

/* ------ Animation ------ */
@keyframes keyframes-fill {
    0% {
        opacity: 0;
    }

    25% {
        transform: rotate(25deg);
    }

    50% {
        transform: rotate(-20deg) scale(1.2);
    }

    75% {
        transform: rotate(15deg);
    }
}

/* End icon bell */

@media (max-width: 767px) {
    .sidebarlist {
        height: calc(100vh - 210px);
    }
}